<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New</title>
  </head>
  <body>
    <form method="post" action="/addnew" enctype="multipart/form-data">
      <label data-field>
        Video:
        <input type="text" placeholder="Curious About" name="about" />
      </label>
      <br /><br />
      <label data-field>
        Message:
        <textarea
          name="description"
          placeholder="description"
          rows="10"
          cols="20"
        >
        </textarea>
      </label>
      <br />
      <br />
      <label data-field>
        Date And Time:
        <input type="datetime-local" name="unlockAt" />
      </label>
      <br />
      <br />
      <input type="file" name="video" accept="video/*" required />
      <button type="submit">upload</button>
    </form>
  </body>
</html>
