<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://unpkg.com/@knadh/oat/oat.min.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="border d-flex flex-column align-items-center justify-content-center vh-100">
      <div class="login-box card p-4 rounded shadow-sm" style="width: 400px;">

        

        <%- include("partials/nav") %>

        <% if(locals.error){ %>
          <div role="alert" data-variant="error">
            <strong>Error!</strong> <%= locals.error %>
          </div>
        <%}%>

        <form method="post" action="/login">
          <div class="form my-3 ">
            <div class="form-group pt-2 ">
              <label for="emailInput">Email address</label>
              <input
                name="email"
                type="email"
                class="form-control shadow-sm rounded"
                id="emailInput"
                placeholder="Enter email"
                required
              />
            </div>

            <div class="form-group pt-2">
              <label for="passwordInput">Password</label>
              <input
                name="password"
                type="password"
                class="form-control shadow-sm rounded"
                id="passwordInput"
                placeholder="Password"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary mt-4 shadow-sm rounded">Login</button>
          </div>
        </form>
          
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://unpkg.com/@knadh/oat/oat.min.js" defer></script>
</html>
