<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Profile Page</h1>
    <form method="get" action="addnew">
      <button class="btn">Add New</button>
    </form>

    <h1>Videos</h1>

    <%if(!user || !user.videos || user.videos.length === 0){%>
      <h6>No videos are uploaded yet</h6>
    <%}else{%>
      <video controls width="300px">
        <source src="<%= '/uploads/' + video.filename %>" type="video/mp4" />
      </video>
    <%}%>

  </body>
</html>
