.video {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* max-width: 100%; */
  /* grid-template-rows: auto auto auto auto; */

  /* padding: 0 5px 0 5px; */
}

video {
  /* margin: 0px 5px; */
  border: 1px solid black;
  border-radius: 10px;
}

.card {
  margin: 5px 5px;
}

/* .clas {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

/* .login-box {
  border-radius: 10px;
  border: 1px solid black;
  padding: 30px;
  width: 400px;
} */
